body{
  padding: 0;;
  margin: 0;
  font-family: Harmony;
}
ul,li{
  margin: 0;
  padding: 0;
}
.SOTDormitory{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.SOTDormitory-top{
  width: 97.5%;
  height: 100px;
  overflow: hidden;
  background:url("../../img/AdminPage/banner.webp") no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 10px auto;
}
.SOTDormitory-top-inp{
  width: 220px;
  height: 40px;
  margin: 30px auto;
}
.SOTDormitory-bottom{
  width: 1450px;
  height: 690px;
  border-radius: 10px;
  margin-left: 20px;
}
.SOTDormitory-bottom-left{
  width: 190px;
  height: 600px;
  overflow-y: auto;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #61c5d0;
  float: left;
}
.SOTDormitory-bottom-left-son{
  height: 600px;
  overflow-y: auto;
}
.SOTDormitory-bottom-left-son li{
  background-color: #c4dae6;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  margin:10px 10px;
  list-style-type: none;
  float: left;
  text-align: center;
  cursor: pointer;
}
.SOTDormitory-bottom-right{
  width: 1090px;
  height: 600px;
  float: left;
  background: url("../../img/AdminPage/SOTDormitory-bg.webp") no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  margin-left: 20px;
}
.SOTDormitory-bottom-right-son{
  width: 1200px;
  height: 550px;
  margin: 25px auto;
}
.SOTDormitory-bottom-a{
  width: 220px;
  height: 50px;
  text-align: center;
  float: left;
}



























