body{
  padding: 0;
  margin: 0;
  font-family: Harmony;
}
.el-table{
  width: 500px;
  height: 100%;
  border-radius: 15px;
}
/*主体部分*/
.main{
  margin-top: 20px;
  height: 700px;
  width: 1300px;
}
/*表格区域*/
.form{
  width: 1300px;
  margin-top: 15px;
}
/*搜索区域*/
.search{
  width: 325px;
  height: 40px;
}
/*搜索框*/
.el-input {
  width: 280px;
  border-radius: 10px;
}
.el-icon-search{
  cursor: pointer;
  transition: 0.3s;
}
.el-icon-search:hover{
  color: salmon;
}
