body{
  margin: 0;
  padding: 0;
  font-family: Harmony;
}
button:hover{
  background-color: #d18be0;
  transition: 0.2s linear;
  color: white;
}
.selfIntroduction{
  width: 100%;
  height: auto;
}
.selfIntroduction-container{
  width: 1400px;
  height: auto;
  margin: 0 auto;
  -moz-user-select:none; /* Firefox私有属性 */
  -webkit-user-select:none; /* WebKit内核私有属性 */
  -ms-user-select:none; /* IE私有属性(IE10及以后) */
  -khtml-user-select:none; /* KHTML内核私有属性 */
  -o-user-select:none; /* Opera私有属性 */
  user-select:none; /* CSS3属性 */
  overflow: hidden;
}
.selfIntroduction video{
  position: fixed;
  right:-100px;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
  overflow: hidden;
}
.selfIntroduction-top{
  width: 1400px;
  height: 330px;
  overflow: hidden;
}
.selfIntroduction-top-banner{
  width: 1400px;
  height: 130px;
  overflow: hidden;
  margin: 0 auto;
  background-color: rgba(222, 222, 222, 0.48);
  border-radius: 10px;
  position: relative;
}
.selfIntroduction-top-avatar{
  width: 80px;
  height: 80px;
  margin: 40px auto;
  z-index: 99;
}
.selfIntroduction-middle{
  width: 1400px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.selfIntroduction-middle-favSinger{
  width: 100%;
  height: 500px;
}
.selfIntroduction-title{
  background-color: rgba(176, 176, 176, 0.46);
  height: 70px;
  width: 100%;
}
.selfIntroduction-middle-favSinger-title span{
  margin-top: -5px;
  color: #81d8cf;
}
.selfIntroduction-middle-favSinger-detail{
  width: 100%;
  height: 400px;
}
.selfIntroduction-middle-favSinger-detail-son{
  width: 200px;
  height: 150px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 30px;
  float: left;
  overflow: hidden;
}
.selfIntroduction-middle-favSinger-detail-intro{
  width: 100%;
  height: 100px;
  background-color: rgba(82, 82, 82, 0.66);
  margin-top: 128px;
  text-align: center;
  transition: 0.2s linear;
}
.selfIntroduction-middle-favSinger-detail-intro:hover{
  margin-top: 50px;
}
.selfIntroduction-middle-favSport{
  width: 100%;
  height: 1870px;
}
.selfIntroduction-middle-favSport-bannerA{
  background: url("../../assets/img/selfIntroduction/riding.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}
.selfIntroduction-middle-favSport-bannerB{
  background: url("../../assets/img/selfIntroduction/210630.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}
.selfIntroduction-middle-favPhotograph{
  width: 100%;
  height: auto;

}
.favPhotoA{
  background: url("../../assets/img/selfIntroduction/p1.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 650px;

}
.favPhotoB{
  background: url("../../assets/img/selfIntroduction/p2.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 650px;
}
.favPhotoC{
  background: url("../../assets/img/selfIntroduction/photo.png");
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.selfIntroduction-bottom{
  background-color: rgba(176, 176, 176, 0.46);
  width: 100%;
  height: 140px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.selfIntroduction-bgPic{
  position: fixed;
  right:-100px;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
  overflow: hidden;
}
