body{
  padding: 0;
  margin: 0;
}
.el-table{
  width: 500px;
  height: 100%;
  border-radius: 15px;
}
/*主体部分*/
.main{
  margin-top: 20px;
  height: 95vh;
  width: 85vw;
}
/*表格区域*/
.form{
  width: 85vw;
  margin-top: 15px;
}
/*搜索区域*/
.search{
  width: 330px;
  height: 40px;
}
/*搜索框*/
.el-input {
  width: 280px;
  border-radius: 10px;
}
